<%- include('../partials/head_admin'); %>

    <div class="container-fluid">


        <div class="card-group" style=" margin-top: px;">
        
        </div><br>
                
                <!-- ============================================================== -->
                
        <div class="row">
                    
         <div class="col-md-12 col-md-8 order-lg-2 order-md-12">
                <div class="card">
                    <div class="card-body">
                        <!--<div class="d-flex align-items-center">-->
                        <!--    <div>-->
                        <!--        <h4 class="card-title">Satistiques des Utilisateurs</h4>-->
                        <!--    </div>-->
                        <!--    <div class="ml-auto">-->
                                
                        <!--    </div>-->
                        <!--</div>-->
                        <!--<div class="d-flex align-items-center no-block">-->
                        <!--    <canvas id="utilisateur" style="width:100%;max-width:900px"></canvas>-->
                        <!--</div>-->
    <section style="background-color: #fff;">
    <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            
                <!--<img src="/static/Assets/images/muns.png" style="width:230px; height: ;margin-top:  ! important;" />-->
            
            
          </div>
        </div>
        
      </div>
      <div class="row" style="margin-left: -210px ! important; margin-top: px;">
            
            <h1 style=" font-size: 60px; font-weight: bold; margin-top:125px! important; margin-left: ; color:#000;"> Bienvenue sur </h1>
            <img src="/static/Assets/images/lobiko (1).jpg" style="width:420px; height:420px ;border: 1px solid #fff; border-radius: 420px; margin-top:-67px ! important;" />
            
      </div>
      <br><br><br>
      <div class="Slogan-Text" style="margin-left: 170px ! important; margin-top: -140px ! important;">
            <h2 style="text-align:center; color: #000; font-family: 'Roboto Serif', serif;">La Santé en un Clic !</h2>
      </div>
    </div>
  </div>
</section>
                    </div>
                </div>
            </div>

          <!--<span class="comptes_actives"><%=comptes_actifs[0].nb %></span>-->
          <!--<span class="comptes_desactivation"><%=comptes_desactives[0].nb %></span>-->
          <!--<span class="comptes_supprimer"><%=comptes_supprimers[0].nb %></span>-->
          <!--<span class="comptes_attente_desactivation"><%=cmt_attente_desactivation_[0].nb %></span>-->
          <!--<span class="comptes_attente_activation"><%=cmt_attente_activation_[0].nb %></span>-->
          <!--<span class="comptes_attente_suppression"><%=cmt_attente_suppression_[0].nb %></span>-->
          
          
            
        <!--<div class="col-lg-4 col-md-6 order-lg-3 order-md-2" style="height: 100px;">-->
        <!--        <div class="card">-->
        <!--            <div class="card-body">-->
        <!--                <h4 class="card-title">Etat des Dossiers</h4>-->
        <!--                <div id="campaign" style="height: 274px; width: 100%;" class="m-t-10"></div>-->
                        
        <!--                <div class="row text-center text-lg-left" style="margin-left: 25px;">-->
        <!--                    <div class="col-4">-->
        <!--                        <h4 class="m-b-0 font-medium" ><%=nb_dossier_ouvert[0].nb_dossier %></h4>-->
        <!--                        <span class="text-muted">Ouverts</span>-->
        <!--                    </div>-->
        <!--                    <div class="col-4">-->
        <!--                        <h4 class="m-b-0 font-medium" ></h4>-->
        <!--                        <span class="text-muted"></span>-->
        <!--                    </div>-->
        <!--                    <div class="col-4">-->
        <!--                        <h4 class="m-b-0 font-medium"><%=nb_deces_admin[0].nb_deces %></h4>-->
        <!--                        <span class="text-muted">Fermés</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--        </div>-->

        <!--</div>-->
        </div>
    </div>
    </div>
    </div>



<%- include('../partials/footer'); %>